{% extends 'base.html' %}

{% load static %}

  <title>{% block content_title %}Quantitative Aptitude {% endblock %}</title>


  <<body>
    {% block content_body %}

<div class="d-flex flex-row">
<div class="container">
  <ul>
    <li>
      
      <a href="/aptitude/problems-on-trains/">Number System</a>

    </li>
    <li>
      <a href="/aptitude/surds-and-indices/">Surds and Indices</a>
    </li>
    <li>
      <a href="/aptitude/height-and-distance/">Progressions</a>
    </li>
    <li>
      <a href="/aptitude/simple-interest/">Averages</a>
    </li>
    <li>
      <a href="/aptitude/profit-and-loss/">Mixtures & Alligations</a>
    </li>
    <li>
      <a href="/aptitude/profit-and-loss/">Algebra</a>
    </li>
    </ul>
    </div>
    <div class="container">
    <ul>
    <li>
      <a href="/aptitude/percentage/">Percentages</a>
    </li>
    <li>
      <a href="/aptitude/calendar/">Profit & Loss</a>
    </li>
    <li>
      <a href="/aptitude/average/">Interest</a>
    </li>
    <li>
      <a href="/aptitude/volume-and-surface-area/">Ratio Proportion & Variation</a>
    </li>

      <li>
        <a href="/aptitude/partnership/">Partnership</a>
      </li>
      <li>
        <a href="/aptitude/profit-and-loss/">Trignometry</a>
      </li>
      </ul>
      </div>
      <div class="container">
        <ul>
    <li>
      <a href="/aptitude/numbers/">Time & Work</a>
    </li>
    <li>
    <a href="#">Pipe & Cisterns</a>
    </li>
    <li>
      <a href="/aptitude/problems-on-hcf-and-lcm/">Time Speed & Distance</a>
    </li>
    <li>
      <a href="/aptitude/boats-and-streams/">Boats and Streams</a>
    </li>
    <li>
      <a href="/aptitude/simplification/">Geometry-2D</a>
    </li>
    <li>
      <a href="/aptitude/profit-and-loss/">Hieght & Distance</a>
    </li>
     </ul>
     </div>
     <div class="container">
       <ul>
    <li>
      <a href="/aptitude/chain-rule/">Mensuration-3D</a>
    </li>
    <li>
      <a href="/aptitude/logarithm/">Co-ordinate Geometry</a>
    </li>
    <li>
      <a href="/aptitude/profit-and-loss/">Polygons</a>
    </li>
    <li>
      <a href="/aptitude/logarithm/">Logarithms</a>
    </li>
    <li>
      <a href="/aptitude/stocks-and-shares/">Inequalities</a>
    </li>
    <li>
      <a href="/aptitude/true-discount/">Quadratic & Other Equations</a>
    </li>
    </ul>
    </div>
    <div class="container">
      <ul>
    <li>
      <a href="/aptitude/odd-man-out-and-series/">Set Theory</a>
    </li>
  <li>
    <a href="/aptitude/problems-on-ages/">Problems on Ages</a>
  </li>
  <li>
    <a href="/aptitude/permutation-and-combination/">Permutation and Combination</a>
  </li>
  <li><a href="/aptitude/probability/">Probability</a>

  <li><a href="/aptitude/square-root-and-cube-root/">Square Root and Cube Root</a>
  </li>
  <li>
    <a href="/aptitude/profit-and-loss/">Misc-Problems</a>
  </li>
</ul>
</div>
</div>

    {% endblock %}
  </body>
