{% extends 'base.html' %}

{% load static %}

  <title>Blog</title>


  <<body>
    {% block content_body %}

    <div class="container d-flex flex-row">
    <div class="jumbotron-flex">
      <ul>
        <li>
          <a href="/aptitude/problems-on-trains/">Calender Test</a>
        </li>
        <li>
          <a href="/aptitude/surds-and-indices/">Direction Test</a>
        </li>
        <li>
          <a href="/aptitude/height-and-distance/">Coding & Decoding</a>
        </li>
        <li>
          <a href="/aptitude/simple-interest/">Dice</a>
        </li>
        <li>
          <a href="/aptitude/profit-and-loss/">Mirror & Water</a>
        </li>
        <li>
          <a href="/aptitude/profit-and-loss/">Blood Relations</a>
        </li>
        </ul>
        </div>
        <div class="jumbotron-flex">
        <ul>
        <li>
          <a href="/aptitude/percentage/">Syllogism</a>
        </li>
        <li>
          <a href="/aptitude/calendar/">Inequalities</a>
        </li>
        <li>
          <a href="/aptitude/average/">Seating Arrangement</a>
        </li>
        <li>
          <a href="/aptitude/volume-and-surface-area/">Input/Output</a>
        </li>

          <li>
            <a href="/aptitude/partnership/">Series Completion & Corretion</a>
          </li>
          <li>
            <a href="/aptitude/profit-and-loss/">Data Sufficiency</a>
          </li>

    </ul>
    </div>
    </div>



    {% endblock %}
  </body>
